<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.files.handlers" type="net.vieapps.Services.Files.ConfigurationSectionHandler, VIEApps.Services.Files" />
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>
	<enyim.com>
		<memcached>
			<servers>
				<add address="24.4.77.2" port="16429" />
				<add address="24.4.77.3" port="16429" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:05" deadTimeout="00:01:00" />
		</memcached>
	</enyim.com>
	<net.vieapps.files.handlers>
		<handler key="avatars" type="net.vieapps.Services.Files.AvatarHandler, VIEApps.Services.Files" />
		<handler key="captchas" type="net.vieapps.Services.Files.CaptchaHandler, VIEApps.Services.Files" />
		<handler key="thumbnails" type="net.vieapps.Services.Files.ThumbnailHandler, VIEApps.Services.Files" />
		<handler key="thumbnailpngs" type="net.vieapps.Services.Files.ThumbnailHandler, VIEApps.Services.Files" />
		<handler key="thumbnailbigs" type="net.vieapps.Services.Files.ThumbnailHandler, VIEApps.Services.Files" />
		<handler key="thumbnailbigpngs" type="net.vieapps.Services.Files.ThumbnailHandler, VIEApps.Services.Files" />
		<handler key="files" type="net.vieapps.Services.Files.FileHandler, VIEApps.Services.Files" />
		<handler key="downloads" type="net.vieapps.Services.Files.DownloadHandler, VIEApps.Services.Files" />
	</net.vieapps.files.handlers>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="aspnet:RestrictXmlControls" value="true" />
		<add key="vieapps:BypassSegments" value="favicon.ico|__browserLink" />
		<add key="vieapps:HiddenSegments" value="" />
		<add key="vieapps:StaticSegments" value=".well-known" />
		<add key="vieapps:LogsPath" value="\\Mac\Home\Documents\VIE Apps\logs" />
		<add key="vieapps:UserAvatarFilesPath" value="\\Mac\Home\Documents\VIE Apps\data-files\user-avatars" />
		<add key="vieapps:DefaultUserAvatarFileName" value="@default.png" />
		<add key="vieapps:AttachmentFilesPath" value="\\Mac\Home\Documents\VIE Apps\data-files\attachments" />
		<add key="vieapps:PassportUrl" value="http://local-apis-users.vieapps.net" />
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
		<trace enabled="false" />
		<healthMonitoring>
			<rules>
				<remove name="Failure Audits Default" />
			</rules>
		</healthMonitoring>
		<sessionState mode="Custom" cookieless="UseCookies" cookieName=".VIEApps-Session-ID" regenerateExpiredSessionId="true" customProvider="FilesSessionStateProvider">
			<providers>
				<add name="FilesSessionStateProvider" type="net.vieapps.Components.Caching.Web.SessionStateProvider, VIEApps.Components.Caching" />
			</providers>
		</sessionState>
		<authentication mode="Forms">
			<forms name=".VIEApps-Files" protection="All" timeout="5" cookieless="UseCookies" path="/" slidingExpiration="false" />
		</authentication>
		<compilation debug="true" targetFramework="4.7" batch="false" optimizeCompilations="true" />
		<httpRuntime targetFramework="4.7" executionTimeout="90" maxRequestLength="819200" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="65535" requestValidationMode="2.0" enableVersionHeader="false" maxUrlLength="2048" maxQueryStringLength="10240" />
		<machineKey validationKey="BBDC2FB3316E50C0347143B3ACB0A51E49672C45117DAB8F4C616B6870BB090E30EB61D0F55A8ED66B44EC56778384003990EE347AC942C2E05AE413DB7F7B35" decryptionKey="B4560E2A5B5D5F79D125D19124F61FAD6318B184CC09C85A5917CE902022F38F" validation="SHA1" decryption="AES" compatibilityMode="Framework45" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="SimpleHandlerFactory-Integrated-4.0" />
			<add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="HEAD,GET,POST,OPTIONS" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="HEAD,GET,POST,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpErrors errorMode="Custom">
			<remove statusCode="403" subStatusCode="-1" />
			<error statusCode="403" path="/Global.ashx" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/Global.ashx" prefixLanguageFilePath="" responseMode="ExecuteURL" />
		</httpErrors>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="838860800" maxUrl="2048" maxQueryString="10240" />
			</requestFiltering>
		</security>
		<directoryBrowse enabled="false" />
	</system.webServer>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="48" />
		</connectionManagement>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MsgPack" publicKeyToken="a2625990d5dc0167" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.8.0.0" newVersion="0.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>