<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.files.handlers" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler, VIEApps.Components.Utility" />
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>
	<enyim.com>
		<memcached>
			<servers>
				<add address="24.4.77.2" port="16429" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:05" deadTimeout="00:01:00" />
		</memcached>
	</enyim.com>
	<net.vieapps.files.handlers>
		<handler key="books" type="net.vieapps.Services.Books.FileHandler, VIEApps.Services.Books.Http" />
	</net.vieapps.files.handlers>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="aspnet:RestrictXmlControls" value="true" />
		<add key="vieapps:BypassSegments" value="favicon.ico|__browserLink" />
		<add key="vieapps:HiddenSegments" value="" />
		<add key="vieapps:StaticSegments" value=".well-known" />
		<add key="vieapps:LogsPath" value="\\Mac\Home\Documents\VIE Apps\logs" />
		<add key="vieapps:UserAvatarFilesPath" value="\\Mac\Home\Documents\VIE Apps\data-files\user-avatars" />
		<add key="vieapps:DefaultUserAvatarFileName" value="@default.png" />
		<add key="vieapps:AttachmentFilesPath" value="\\Mac\Home\Documents\VIE Apps\data-files\attachments" />
		<add key="vieapps:BookFilesPath" value="\\Mac\Home\Documents\VIE Apps\data-files\books" />
		<add key="vieapps:HttpUsersUri" value="http://local-aid.vieapps.net" />
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
		<trace enabled="false" />
		<healthMonitoring>
			<rules>
				<remove name="Failure Audits Default" />
			</rules>
		</healthMonitoring>
		<sessionState mode="Custom" cookieless="UseCookies" cookieName=".VIEApps-Session-ID" regenerateExpiredSessionId="true" customProvider="FilesSessionStateProvider">
			<providers>
				<add name="FilesSessionStateProvider" type="net.vieapps.Components.Caching.Web.SessionStateProvider, VIEApps.Components.Caching" />
			</providers>
		</sessionState>
		<authentication mode="Forms">
			<forms name=".VIEApps-Files" protection="All" timeout="7" cookieless="UseCookies" path="/" slidingExpiration="false" ticketCompatibilityMode="Framework40" />
		</authentication>
		<compilation debug="true" targetFramework="4.7" batch="false" optimizeCompilations="true" />
		<httpRuntime targetFramework="4.7" executionTimeout="90" useFullyQualifiedRedirectUrl="false"
			minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="10000"
			maxRequestLength="204800" maxUrlLength="2048" maxQueryStringLength="2048"
			requestValidationMode="4.5" enableVersionHeader="false" />
		<machineKey compatibilityMode="Framework45"
			decryption="AES"
			decryptionKey="2702cacc01ef479e9fee244d97503fe4e864e6d3d6644c3e89529da97df723d8"
			validation="HMACSHA512"
			validationKey="9655f3dbd7cf4055bdd56517a8fe29716cc9af7415684003840e1bf3cd0ddc3e049c963eabf641e5b54f5f95e18c05d28d0a17791c6a4605817044cd667fcd25" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="SimpleHandlerFactory-Integrated-4.0" />
			<add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="HEAD,GET,POST,OPTIONS" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="HEAD,GET,POST,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpErrors errorMode="Custom">
			<remove statusCode="403" subStatusCode="-1" />
			<error statusCode="403" path="/Global.ashx" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/Global.ashx" prefixLanguageFilePath="" responseMode="ExecuteURL" />
		</httpErrors>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="209715200" maxUrl="2048" maxQueryString="2048" />
			</requestFiltering>
		</security>
		<directoryBrowse enabled="false" />
	</system.webServer>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="48" />
		</connectionManagement>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MsgPack" publicKeyToken="a2625990d5dc0167" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.8.0.0" newVersion="0.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>